@inherits ScoreComponentBase

<div class="container">
    <div class="row">
        <div class="col" style="padding-right: 0">
            <p class="text-right">@Home.Name &emsp; @Home.Score : </p>
        </div>
        <div class="col" style="padding-left: 0">
            <p class="text-left">&nbsp;@Guest.Score &emsp; @Guest.Name</p>
        </div>
    </div>
</div>